<view>
    <ion-header-bar class="bar-stable" align-title="center">
        <div class="title"><h3>用户登录</h3></div>
        <button class="button button-positive" ui-sref="reg">注册</button>
    </ion-header-bar>
    <ion-content style="background-color: #f0f0f2">
        <div class="item-input" style="background-color:#ffffff;">
    <span class="input-label" ><h4>账号:</h4></span>
    <input placeholder="请输入账号" type="text" >
        </div>
    <div class="item-input" style="background-color:#ffffff;margin-top: 2px">
    <span class="input-label" ><h4>密码:</h4></span>
    <input placeholder="请输入密码" type="password" >
        </div>
        <button class="button button-positive button-full" ui-sref="community">登录</button>
        <div style="padding-right: 5px;text-align: right "><a style="color:#00ff00">忘记密码</a></div>
    </ion-content>
</view>