<tabs class="tabs-positive tabs-icon-top">
     <ion-tab title="首页" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
         <ion-nav-view name="courseView"></ion-nav-view>
     </ion-tab>

    <ion-tab title="关于" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
        <ion-nav-view name="communityView"></ion-nav-view>
    </ion-tab>

    <ion-tab title="设置" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
        <ion-nav-view name="myView"></ion-nav-view>
    </ion-tab>
</tabs>
